.header{
	height:90px;
	width:70%;
	margin:0 15%;
	background:transparent;
	position:absolute;
	z-index:10;
	font-size:10px;

}
#logo{
	height:30px;
	width:180px;
	float:left;
	margin:30px auto;
}

.signupbtn{
	height:25px;
	width:100px;
	float:right;
	border: 1px solid white;
	background:transparent;
	border-radius: 25px;
	margin:30px auto;
	color:white;
	text-align:center;
	line-height:25px;
	font-family: sans-serif;
	
}

.header1{
	height:25px;
	width:60px;
	float:right;
	background:transparent;
	margin:30px auto;
	color:white;
	text-align:center;
    font-family: sans-serif;

}
.imgbox{
	width:100%;
	height: 385px;
	position:relative;
	
}
#signup,#login,#docs,#faqs,#features{
	margin:7px auto;
}

#img1{
	width:100%;
}

.aboveimg{
	position:absolute;
	width:50%;
	background:transparent;
	color:white;
	text-align:center;
	
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	
}

.aboveimgtxt1{
	font-size:25px;
	font-family: sans-serif;
	font-weight: bold;
    letter-spacing: 1px;
}

.aboveimgtxt2{
	font-size:12px;
	font-family: sans-serif;
	margin:20px auto;
}

.getstartbtn{
	background-color:#2B85E5;
	color:white;
	font-size:10px;
	width:170px;
	height:25px;
	border-radius:25px;
	line-height:25px;
	font-family: sans-serif;
	margin:0 auto;
}

.benefits{
	height:280px;
	width:70%;
	margin:0 auto;
	
}

.benef1{
	width: 25%;
    
	float:left;
    position: relative;
    z-index: 10;
    height: 260px;
}
.benefimg{
	height:100px;
	width:100%;
	
}

#benfimg1,#benfimg2,#benfimg3,#benfimg4{
    margin: 25px 80px;	
	height:50px;
	width:50px;
	
}

.benef1hdr{
		font-size:18px;
		font-weight:bold;
		text-align:center;
		position:relative;
		
		height:30px;
}


.uline2{
	width:13%;
	height:1px;
	background-color:#242B33;
	position:relative;
	margin:10px 0;
	
}

.benef1txt{
	font-size:11px;
	text-align:center;
	position:relative;
	font-family: sans-serif;
	color:#828282;
	line-height:2em;
	padding: 0 1px;
}
	
.media{
	width: 100%;
    height: 300px;
    background-color: #2B88D8;
    color: white;
	
}

#featureimg{
    width: 44%;
    margin: -25px 0 0 200px;
    position: absolute;
	
	
}
	
.mediacontent{

	width:40%;
	float:right;
	
	height:280px;
	position:relative;
}	
	
.mediacontenthdr{
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color:white;
	height:20px;
	margin-top:30px;
}

.mediacontenttxt{
	font-size:11px;
	text-align:left;
	position:relative;
	font-family: sans-serif;
	line-height:2em;
	color:white;
	width:56%
	
}

 .mediacontentlink{
	font-size:14px;
	font-weight:bold;
	text-align:left;
	line-height:2em;
	margin-top:20px;
 }
 
 .link1
 {
	 color:#0F4473;
 }
 
 .faq{
	 width:100%;
	 height:530px;
	 
	 
 }
 
	
.faqhdr{

	font-size:18px;
	font-weight:bold;
	text-align:center;
	position:relative;
	line-height:70px;
	color:	#2887DE;
}	
.faqbody{
	width:70%;
	margin:0 auto;
}

.faqque{
	
	font-size:16px;
	font-family:sans-serif;
	font-weight:bold;
	position:relative;
}

.uline{
	width:10%;
	height:1px;
	background-color:#2887DE;
	position:relative;
	margin:5px 0;
	
}
	
.faqans{
	font-size: 11px;
    position: relative;
    font-family: sans-serif;
    color: #828282;
    line-height: 2em;

}
	
ul{
 list-style-image:url('image/bullet2.png');
 padding-left:15px;
}
	
.footer{
	width:100%;
	height:270px;
	background-color:#242B33;
}
	
.footerhdr{
	font-size:14px;
	text-align:center;
	position:relative;
	line-height:70px;
	color:	white;
	top:7px;
}

.getemail{
    width: 30%;
    height: 30px;
    margin: 0 auto;
    position: relative;
}

input[type=text]{

	height: 25px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: white;
    border-radius: 25px;
    font-size: 11px;
    padding: 0 15px;
	
}

.getemailbtn{
   
	background-color: #2B85E5;
    color: white;
    font-size: 10px;
    width: 120px;
    height: 29px;
    border-radius: 25px;
    line-height: 29px;
    font-family: sans-serif;
    float: right;
    position: absolute;
    margin: -29px 290px;
    text-align: center;
	
}	
	
.social{
	width:7%;
	height:80px;
	margin:0 auto;
	
}	

#fbicon{
	margin-top:24px;
}

#fbicon:hover{
	 background: url(image/fb_icon_hover.png);
    background-repeat: no-repeat;
}

#twicon{
	margin-top:24px;
	float:right;
}
	
#twicon:hover{
	 background: url(image/tw_icon_hover.png);
    background-repeat: no-repeat;
}
	
.footerlink{

	width:40%;
	margin:0 auto;
	height:25px;
	
}	
	
#featurelink, #faqlink,#docslink,#privacypolicy,#terms{
	
	height: 25px;
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
    float: left;
    padding-left: 40px;
	
}

.copyright{
	text-align:center;
	font-size: 10px;
    font-family: sans-serif;
	color:white;
	letter-spacing:1px;
	margin-top:15px;
}
	
	
	